* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.season {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.spring {
  background-image: url("img/box1.jpg")
}

.summer {
  background-image: url("img/box2.jpg")
}

.fall {
  background-image: url("img/box3.jpg")
}

.winter {
  background-image: url("img/box4.jpg")
}